<launch>

	<arg name="bagfile" default="/home/nuport/Desktop/nuport_2026-06-24-00-35-59_0-annotated.bag"/>
	<arg name="model_cfg" default="$(find lidar_pointpillars)/config/pointpillars_combined_v2.cfg"/>

	<arg name="cloud_topic" default="/sensors/lidar/front/center/points"/>
	<arg name="cloud_frame_id" default="lidar/front/center"/>

	<!-- Start playing rosbag using simulated clock -->
	<node pkg="rosbag" type="play" name="player" args="--clock -r 1 $(arg bagfile)" required="True"  output="log"/>
	<param name="/use_sim_time" value="true"/>

	<node pkg="nodelet" type="nodelet" name="pointpillars_manager" args="manager" output="screen"/>

	<include file="$(find lidar_filtering)/launch/filter_chain.launch" ns="/sensors/lidar/front/left/filter">
		<arg name="input_cloud" value="$(arg cloud_topic)"/>
		<arg name="output_cloud" value="$(arg cloud_topic)/filtered"/>
		<arg name="nodelet_manager" value="/pointpillars_manager"/>
	</include>

	<node pkg="nodelet" type="nodelet" name="pointpillars" output="screen"
	      args="load lidar_pointpillars/PointPillarsNodelet pointpillars_manager">
		<rosparam command="load" file="$(arg model_cfg)"/>
		<param name="engine_path" value="$(find lidar_pointpillars)/ref/pointpillar_combined_v2.trt"/>
		<param name="input_topic" value="$(arg cloud_topic)/filtered"/>
		<param name="output_topic" value="/detections"/>
		<param name="score_threshold" value="0.3"/>
		<param name="nms_threshold" value="0.2"/>
		<param name="max_detections" value="100"/>
	</node>

</launch>
